<div class="container ">
<div class="row">
    <div class="col col-md-12 text-center border border-primary rounded" style="left: 15px;">
        <br>
        <form>
            <select class="form-control ddlPos" name="ddl_category" id="ddl_category">
                <option value="All">Select Categorties</option>
                <option *ngFor="let cat of categoryList" [value]="cat.id">{{cat.categoryName}}</option>
            </select>

            <select class="form-control ddlPos" name="ddl_subCategory" id="ddl_subCategory">
                <option value="All">Select Sub-Categorties</option>
                <option *ngFor="let sub of subCategoryList" [value]="sub.id" >{{ sub.subCategoryName }}</option>
            </select>

            <select class="form-control ddlPos" name="ddl_brands" id="ddl_brands">
                <option value="All">Select brands</option>
                <option *ngFor="let item of brandsList" [value]="item.id" >{{ item.brandsName }}</option>
            </select>

            <div class="d-inline-block form-group col">

            <div class="btnFilterDiv">
                <input type="text" class="form-control btn-custom" placeholder="Manimum Age">
            </div>


            </div>
            

            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Boys</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Girls</label>
                </div>
            </div>

            <br>

            
            <div class="d-inline-block form-group col">
                <div class="btnFilterDiv">
                    <input type="text" class="form-control btn-custom" placeholder="Manimum Price">
                </div>
            </div>
            <div class="d-inline-block form-group col">
                <div class="btnFilterDiv">
                    <input type="text" class="form-control btn-custom" placeholder="Maximum Age">
                </div>
            </div>
            
            <br>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary filterSubmitBtn ">Submit</button>
                </div>
            </div>



<br>

        </form>
        <br>
    </div>
</div>
</div>