<div class="container-fluid bg-primary">
    <br><br>
    <h3 class="text-center text-light text-bold">Sign up for e-mail update today!</h3>
  <br>
    <form>
      <div class="row">
        <div class="col col-md-2"></div>
        <div class="col col-md-6">
          <input type="text" class="form-control" placeholder="Please enter your e-mail">
        </div>
        <div class="col col-md-2">
          <button class="btn btn-success btn-block" type="submit" > Submit</button>
        </div>
        <div class="col col-md-2"></div>
      </div>
    </form>
    <br><br>
  
  
  </div>