<div class="row">
    <div class="col-md-4 offset-md-4">
        <br>
            <br>
        <div class="card">
            
            <div class="card-header">
                <h2 class="text-warning">Page Not Found</h2>
            </div>
            <div class="card-body">
                <p>Oops! The page you were looking for is not found! </p>
                <a routerLink='/'>Go Back to Home...</a>
            </div>

            
        </div>
    </div>
    
</div>


<br>
            <br>
