<footer class="footer mt-auto py-3 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 float-left">
                <i class="far fa-copyright text-light"></i>
                <span class="text-light"> 2020 Toyshop Ltd (Canada). All rights reserved.</span>
            </div>
            <div class="col col-md-2 float-right">
                <a href="#" class="fab fa-facebook-square text-light"> </a> 
                &nbsp;
                <a href="#" class="fab fa-instagram text-light"> </a> 
                &nbsp;
                <a href="#" class="fab fa-youtube-square text-light"> </a> 
                &nbsp;
                <a href="#" class="fab fa-pinterest-square text-light"> </a> 
                &nbsp;
                <a href="#" class="fab fa-twitter-square text-light"> </a> 
                &nbsp;
                <a href="#" class="fab fa-tiktok text-light"> </a> 
            </div>
        </div>
     
    </div>
</footer>