
<div class="row">
    <div class="col-2 col-md"></div>
    <div class="col-4 col-md">
      <h5>Orders</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted text-decoration-none" href="#">Track Orders</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Returns</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Cancellations</a></li>
      </ul>
    </div>
    <div class="col-4 col-md">
      <h5>Help</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted text-decoration-none" href="#">Safety Information</a></li>
        <li><a class="text-muted text-decoration-none" href="#"> Shipping & Delivery</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Payment Options</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-4 col-md">
      <h5>About Us</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted text-decoration-none" href="#">Company Info</a></li>
        <li><a class="text-muted text-decoration-none" href="#">News Room</a></li>
      </ul>
    </div>
    <div class="col-4 col-md">
      <h5>SAFE & SECURE SHOPPING</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted text-decoration-none" href="#">terms & Condition</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-2 col-md"></div>
  </div>